.topbox {
    background-color:gray;
    font-size: 20px;
    width: 800px;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 5px;
    display: block;
    border: 40px;

    
    
}
.topbox img {
    width:90%;
    justify-content:center;
    margin: 20px;
    padding: 40px;
} 
.lesson {  
    color: blue;

}
.header1 {
    color: white;
    font-size: 20 px;  

}